html, body {
    margin: 0;
    height: 100%;
}

.container {
    display: flex;
    flex-wrap: nowrap;
}

.box {
    width: 100px;
    height: 150px;
    background-color: #eeeff2;
    border-left: 10px dotted #D0D0FF;
    margin-right: 10px;
    font-family: Tahoma;
    font-size: 40px;
    padding-top: 10px;
    padding-left: 10px;
    box-sizing: border-box;
}

.box:hover {
    cursor: pointer;
    background-color: yellow;
    color: goldenrod;
}

.last-box {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 0;
}